<div class="well col-sm-3">
<h5 class="card-subtitle mb2 text-muted">Select country and state to add or update City</h5>
<select [(ngModel)]="selectedCountry" class="form-control" #addCountrySelect="ngModel" (change)="onCountryChange(selectedCountry._id)" required>
  <option value="Select Country" selected disabled>Select Country...</option>  
  <option *ngFor='let country of countries;let i = index' [ngValue]="country" >
        {{ country.name }}
    </option>
  </select>
  <span>You slected {{ selectedCountry.name }} as your country</span>
<select [(ngModel)]="selectedState" class="form-control" #addStateSelect="ngModel" (change)="onStateChange(selectedState._id)" required>
    <option value="Select State" selected disabled>Select State...</option>  
  <option *ngFor='let state of states;let i = index' [ngValue]="state" >
        {{ state.name }}
    </option>
  </select>
<span>You slected {{ selectedState.name }} as your state</span>
<input type="text" class="form-control" [(ngModel)]="newCity" #addCityInput="ngModel" required>  
<button type="button" class="btn btn-primary" (click)="addCity(selectedState._id)" [disabled]="!addCountrySelect.dirty || !addStateSelect.dirty || !addCityInput.valid">Add City</button>
</div>
<div class="col-sm-9">
    <h4>List of added Cities</h4>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>City</th>
          <th>Is Active</th>
          <th>State</th>
          <th>Country</th>
          <th>Update</th>
          <th>Disable</th>
          
        </tr>
      </thead>
      <tbody *ngIf="cities.length!=0" >
        <tr *ngFor='let city of cities;let i = index' >
          <td>{{ city.name }}</td>
          <td>{{ city.activeStatus }}</td>
          <td>{{ city.state.name }}</td>
          <td>{{ city.state.country.name }}</td>
          <td><button class="btn btn-info" (click)='updateCity(city)' [disabled]="!addCountrySelect.dirty || !addStateSelect.dirty || !addCityInput.valid">Update</button></td>
          <td>
            <button class="btn btn-danger" (click)='disableCity(city)' *ngIf="city.activeStatus">Disable</button>
            <button class="btn btn-primary" (click)='enableCity(city)' *ngIf="!city.activeStatus">Enable</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>