<h4>Please select options from the menu bar to start adding the details.</h4>
<div class="row">
   <app-university-nav></app-university-nav>
   
</div>
<div class="row">
      <router-outlet></router-outlet>
   
</div>



<!-- <select [(ngModel)]="selectedCity" class="form-control">
    <option *ngFor='let city of cities;let i = index' [ngValue]="city" [attr.selected]="i==0?selected:''">
        {{ city.name }}
    </option>
  </select>

<span>You slected {{ selectedCity.name }} as your city</span> -->