
<div class="row">

  <div class="col-sm-3">
      <h5>Create Todo:</h5>
      <form #todoForm="ngForm" (ngSubmit)='onSubmit()'>
          <div class="form-row">
            <div class="cal-auto">
              <input type="text" 
                    class="form-control" 
                    placeholder="Description" 
                    id="description"
                    name="description" 
                    #description="ngModel" 
                    [(ngModel)]="model.description" pattern="^[a-zA-Z0-9 ]+$" required>
            </div>
            <div class="cal-auto">
              <input type="text" 
                    class="form-control" 
                    placeholder="Responsible" 
                    id="responsible"
                    name="responsible" 
                    #responsible="ngModel" 
                    [(ngModel)]="model.responsible" pattern="^[a-zA-Z0-9 ]+$" required>
            </div>
            <div class="cal-auto">
              <select name="priority" 
                      id="priority" 
                      class="form-control"
                      #priority="ngModel"
                      [(ngModel)]="model.priority">
                      <option value="low">Low</option>
                      <option value="medium">Medium</option>
                      <option value="high">High</option> 
              </select>
            </div>
            <div class="cal-auto">
              <button class="btn btn-primary" type="submit" [disabled]="!todoForm.valid">Create Todo</button>
            </div>
          </div>
        </form>
  </div>
<div class="col-sm-9">
    <h5>Todos List:</h5>
    <div >
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Todo#</th>
            <th>Description</th>
            <th>Responsible</th>
            <th>Priority</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="todosLength!=0">
          <tr *ngFor='let todo of todos' (click)='toggleTodo(todo)' [class.completed]='todo.isCompleted'>
            <td>{{ todo.id }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.responsible }}</td>
            <td>{{ todo.priority }}</td>
            <td><button class="btn btn-primary" (click)='removeTodo(todo)'>Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div></div>


