@import '/app/University/modalpopup/modalpopup.component.css';
@import '/app/University/college-landing/college-landing.component.css';
@import '/app/University/students/students.component.css';

.nav-stacked>li {
    float: none;
    border-bottom: 1px solid rgba(195, 193, 209, 0.52);
    border-radius: 5px;
    border-left: 1px solid rgba(195, 193, 209, 0.52);
    background: rgba(233, 234, 236, 0.24);
    }
.card{
        border-radius: 10px;
    border: 1px solid rgba(142, 171, 178, 0.22);
    padding: 15px;
    background: rgba(158, 170, 175, 0.06);
    margin: 10px 0;
    }