<h4>Following examples shows the NGRX v4.x with Angular 6.x</h4>

<div class="card">
        <div class="card-body">
          <h3 class="card-title">Todos App</h3>
          <h6 class="card-subtitle mb2 text-muted">Using Angular V4 and Redux V4</h6>
          <app-todo-overview></app-todo-overview>
          <app-todo-list></app-todo-list>
          
        </div>
      </div>
 
<div class="card">
  <div class="card-body">
  <h3 class="card-title">
    Tutorial App 
  </h3>
  <div class="row">
  <app-create></app-create>
  <app-read></app-read>
</div>
  <div>
   
    </div>
</div>
